body, html{ height: 100%;}
body {
	padding-top: 50px;
	background-color: #000066;
}
#home {
	height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
}